html {font-size: calc(100px*100vw/640px);}
body{
	width:100%;
	height:100%;
	overflow:auto;
	-webkit-text-size-adjust:100%;
	margin:0 auto;
	padding:0;
	border:0px;
	font:inherit;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;
	color:#555;
	background:#fff;f
	ont-size:14px;
	-webkit-text-size-adjust:none;
	line-height:20px;
}
div{
	margin:0px auto;
	box-sizing:border-box;
}
ul,li{margin:0;padding:0;list-style-type:none;}
a img {border:0}
/*img{vertical-align:top;}*/
a{color:#000;text-decoration:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
p{margin:0px auto;padding:0px;}
input[type=button]{
	-webkit-appearance:none;
	outline:none;
}
input{outline:none;}

.fl {
	float: left;
}
.fr	{
	float: right;
}

#header-top {
	height: 0.9rem;
	/*width: 100%;*/
	padding: 0.15rem 0.2rem;
	overflow: hidden;
	background-color: yellow;
}
#header-top #logo {
	height: 0.6rem;
	width: 1rem;
}
#header-top #logo a {
	display: block;
	height: 0.5rem;
	width: 1rem;
	
}
#header-top #logo a img {
	width: 1rem;
	/*height: 100%;*/
	max-width: 100%;
}
#header-top #search {
	width: 4.04rem;
	margin: 0 auto;
	/*float: left;*/
	/*position: absolute;
	left: 0;
	top: 0;*/
}
#header-top #search form .search input{
	width: 4.04rem;
	height: 0.6rem;
}

#search {
	width: 50px;
}
#header-top #nav {
	height: 0.48rem;
	width: 0.48rem;
}
#header-top #nav a {
	display: block;
	width: 0.48rem;
	height: 0.48rem;
	/*margin-right: -20px;*/
}
#header-top #nav a img {
	width: 100%;
	min-width: 100%;
}